# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* Some of the popular languages that Data Scientists use
* Some of the commonly used libraries used by Data Scientists
* Creating a markdown cell with a table of Data Science tools
* Creating a markdown cell introducing arithmetic expression
* Creating a code cell to multiply and add numbers

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Java

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-Learn
5. TensorFlow

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## Author
Divyansh Agarawal